h1= title
form( method="post")
    div
        div
            span PAO :
            input(type="text", name="pao", id="editProviderPao")
        div
            span ConcID :
            input(type="text", name="concID", id="editProviderConcID")
        div
            span DevID :
            input(type="text", name="devID", id="editProviderDevID")
        div
            span Subs_Status :
            input(type="text", name="subs_status", id="editProviderSub")
        div
            span Auth_Status :
            input(type="text", name="auth_status", id="editProviderAuth")
        div
            span Route :
            input(type="text", name="route", id="editProviderRoute")
        div
            span Dev_Man :
            input(type="text", name="dev_man", id="editProviderDevMan")
        div
            span ForeignKey :
            input(type="text", name="for_key", id="editProviderForKey")
        dev#editProviderSubmit
            input(type="submit", value="Send")
